@import "../../scss/vars";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 70px;
  background-color: $bg-color;
  color: $light;
  padding: 10px 0;
  text-align: center;

  p {
    margin: 0;
  }
}
